 body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
    }
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #4a76a8;
    color: white;
}

header .center-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

header > div {
    flex: 1;
    text-align: center;
}

header > div:first-child {
    text-align: left;
}

header > div:last-child {
    text-align: right;
}
    
    header a{
        color: white;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 18pt;
    }
    
    header a:hover{
		text-decoration: none;    
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
        padding: 20px;
    }
    .card {
        background: white;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .card h3 {
        margin-top: 0;
        font-size: 18px;
    }
    /* 카드의 버튼 색상 수정 */
    .btn {
        display: inline-block;
        margin-bottom: 10px;
        padding: 6px 12px;
        background: #ffffff;
        color: #090909;
        text-decoration: none;
        border: 1px solid #090909;
        border-radius: 20px;
        font-size: 14px;
    }
    .btn2 {
        display: inline-block;
        padding: 6px 12px;
        background: #4a76a8;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
    }
    .btn:hover{
    	background: #7599c1;
    }
    .btn2:hover{
        background: #3a5a85;
    }
    /* 여기까지 */
    
    
/* 달력 */
    
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    
}
.day-header {
	height: 20px;      /* 요일/날짜 박스 높이 고정 */
    font-weight: bold;
    background-color: #4a76a8;
    color: white;
    padding: 10px 0;
    border-radius: 4px;
}
.day {
	display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: flex-start;     /* 위쪽 정렬 */
    padding: 8px;                /* 상단/좌측 여백 */
    cursor: pointer;
    background: #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* 숫자 크기 조정 */
    min-height: 50px;            /* 높이 고정 */
}
.day.today {
    background: #4a76a8;
    color: white;
}
.day:hover {
    background: #d0e0f0;
}