<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.diet">

	<select id="maxNum" resultType="int">
		select nvl(max(num),0) from diet
	</select>
	
	<insert id="insertData" parameterType="com.health.dto.DietDTO">
		insert into diet (diet_id, category, name, kcal, sodium, protein, etc)
		values (#{diet_id},#{category},#{name},#{kcal},#{sodium},#{protein},#{etc})
	</insert>

	<select id="getDataCount" parameterType="map" resultType="int">
		select nvl(count(*),0) from diet
		where ${searchKey} like '%' || #{searchValue} || '%'
	</select>
	
	<select id="getLists" parameterType="map" resultType="com.health.dto.DietDTO">
		select * from (
		select rownum rnum, data.* from(
		select diet_id, category, name, kcal, 
		sodium, protein, etc from diet 
		where ${searchKey} like '%' || #{searchValue} || '%'
		order by diet_id desc) data)
	<![CDATA[
		where rnum>=#{start} and rnum<=#{end}
	]]>
	</select>
	
	<select id="getReadData" parameterType="int" resultType="com.health.dto.DietDTO">
		select diet_id, category, name, kcal, sodium, protein, etc
		from diet 
		where num=#{num}
	</select>
	
	<update id="updateData" parameterType="com.health.dto.DietDTO">
		update diet set diet_id=#{diet_id}, category=#{category}, name=#{name},
		kcal=#{kcal}, sodium=#{protein}, etc=#{etc} where diet_id=#{diet_id}
	</update>
	
	<delete id="deleteData" parameterType="int">
		delete diet where num=#{num}
	</delete>

</mapper>