<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.member">

	<select id="maxNum" resultType="int">
		select nvl(max(num),0) from member
	</select>
	
	<insert id="insertData" parameterType="com.health.dto.MemberDTO">
		insert into member (member_no, member_id, password, name, birth, gender, height, weight, bmi, goal, JOIN_DATE)
		values (#{member_no},#{member_id},#{password},#{name},#{birth},#{gender},#{height},#{weight},#{bmi},#{goal},sysdate)
	</insert>
	
	<select id="getDataCount" parameterType="map" resultType="int">
		select nvl(count(*),0) from member
		where ${searchKey} like '%' || #{searchValue} || '%'
	</select>
	
	<select id="getLists" parameterType="map" resultType="com.health.dto.MemberDTO">
		select * from (
		select rownum rnum, data.* from(
		select member_no, member_id, password, name, birth, gender, height, weight, bmi, goal, join_date from member 
		where ${searchKey} like '%' || #{searchValue} || '%'
		order by num desc) data)
	<![CDATA[
		where rnum>=#{start} and rnum<=#{end}
	]]>
	</select>
	
	<select id="getReadData" parameterType="String" resultType="com.health.dto.MemberDTO">
		select member_no, member_id, password, name, birth, gender, height, weight, bmi, goal, join_date
		from member 
		where member_id=#{member_id}
	</select>
	
	<update id="updateData" parameterType="com.health.dto.MemberDTO">
		update member set member_no=#{member_no}, member_id=#{member_id}, password=#{password},
		name=#{name}, birth=#{birth}, gender=#{gender}, height=#{height},
		weight=#{weight}, bmi=#{bmi}, goal=#{goal}, join_date=#{join_date} where num=#{num}
	</update>
	
	<delete id="deleteData" parameterType="int">
		delete member where member_no=#{member_no}
	</delete>

</mapper>