<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE configuration
PUBLIC "-/mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

<mappers>

	<mapper resource="com/health/mapper/AdminMapper.xml"/>
	<mapper resource="com/health/mapper/BloodPressureMapper.xml"/>
	<mapper resource="com/health/mapper/BoardMapper.xml"/>
	<mapper resource="com/health/mapper/DietMapper.xml"/>
	<mapper resource="com/health/mapper/ExerciseMapper.xml"/>
	<mapper resource="com/health/mapper/HabitMapper.xml"/>
	<mapper resource="com/health/mapper/MemberMapper.xml"/>
	<mapper resource="com/health/mapper/SleepMapper.xml"/>
	<mapper resource="com/health/mapper/HealthDataMapper.xml"/>

</mappers>


</configuration>